{{- $lpData := .LpData -}}
nav:
{{- if hasKey $lpData "system-design" }}
- System Design: system-design.md
{{- end -}}
{{ if hasKey $lpData "microservices" }}
- Microservices: microservices.md
{{- end -}}
{{ if hasKey $lpData "event-driven-architecture" }}
- EDA (Event-Driven Architectures): event-driven-architecture.md
{{- end -}}
{{ if hasKey $lpData "kubernetes" }}
- Kubernetes: kubernetes.md
{{- end -}}
{{ if hasKey $lpData "golang" }}
- Golang: golang.md
{{- end -}}
{{ if hasKey $lpData "cicd" }}
- CI/CD: cicd.md
{{- end -}}
{{ if hasKey $lpData "devops" }}
- DevOps: devops.md
{{- end -}}
{{ if hasKey $lpData "sre" }}
- SRE: sre.md
{{- end -}}
{{ if hasKey $lpData "software-architecture" }}
- Software Architecture: software-architecture.md
{{- end -}}
{{ if hasKey $lpData "team-management" }}
- Team Management: team-management.md
{{- end }}
- ...
