{{define "overview"}}
# Choose your own IT readventure! :books: :sunrise_over_mountains: :computer:

If you are a stubborn learner, eat books for breakfast, and want to discover new concepts or hunt new skills related to the IT world, I can assure you that you are in the right nook of the Internet. Prepare yourself to be amazed by a choose-your-own-adventure journey in the IT world. Hopefully, it will take you to interesting places thanks to the power and the fun of reading.

Finally, make sure you don’t forget about putting your newly acquired skills to the test, remember that practice makes the master!

Starting your adventure is as easy as picking the set of skills that you want to learn or improve, check out the learning paths and choose your starting point. There are paths focused on a particular technology or skill, and more generic ones, but both are useful and can be combined depending of your goal.
{{end}}
