{{define "logo"}}
{{- if empty .Logo.Source | not -}}
<img height="{{ default "35" .Logo.Height }}" src="{{ .Logo.Source }}" alt="{{ .Ref }}" title="{{ .Name }}"/> 
{{- end -}}
{{end}}

{{define "small-logo"}}
{{- if empty .Logo.Source | not -}}
<img height="20" src="{{ .Logo.Source }}" alt="{{ .Ref }}" title="{{ .Name }}"/> 
{{- end -}}
{{end}}
